<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace一般指定为当前文件的所在包路径+文件名（将来是接口名） 在程序中通过[ namespace + id ]定位到执行哪一条SQL语句 -->
<mapper namespace="com.tedu.dan.EmpMapper">
	<sql id="empcols">
		id,name,job,salary
	</sql>
	<update id="addUser">
		insert into emp
		values(null,#{name},#{job},#{salary});
	</update>
	<select id="login" resultType="com.tedu.pojo.Emp">
		select
		<include refid="empcols" />
		from emp where id = #{id} and name = #{name};
	</select>
</mapper>
