<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>day14</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Zhuce</display-name>
		<servlet-name>Zhuce</servlet-name>
		<servlet-class>com.tedu.test.Zhuce</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Zhuce</servlet-name>
		<url-pattern>/Zhuce</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmpDb</display-name>
		<servlet-name>EmpDb</servlet-name>
		<servlet-class>com.tedu.test.EmpDb</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpDb</servlet-name>
		<url-pattern>/EmpDb</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login1</display-name>
		<servlet-name>Login1</servlet-name>
		<servlet-class>com.tedu.test.Login1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login1</servlet-name>
		<url-pattern>/Login1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.tedu.test.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
</web-app>